@import 'services/bootstrap.min';
@import 'services/flexslider';
@import 'services/animate';
@import 'services/owl.carousel';
@import 'services/style';
@import 'variables';

header {
  .menu_block {
    box-shadow: 0 2px 3px $darkBlue;
  }

  .navbar-brand {
    img {
      max-height: 50px;
    }
  }

  .sub-menu {
    ul {
      &:before {
        border-bottom-color: $darkBlue;
      }

      li.active a, li a, li a:hover {
        background: $darkBlue;
        border-bottom-color: $darkBlue;
        color: #fff;
      }
    }
  }
}

.projects-wrapper {
  background: #fff;
}
.owl-demo.projects_slider {
  padding: 0;
}

.golden {
  color: $brown !important;
}

.red {
  color: $red !important;
}