.panel {
  &.panel-dark {
    border-color: #000;

    .panel-heading {
      border-color: #000;
      color: #fff;
      background: #000;

      h3 {
        color: inherit;
        margin: 1em 0;
      }
    }

    form {
      .btn {
        padding: 5px 8px;
      }
    }
  }
}