#user-basic-info-container {
  padding-top: 3em;
  padding-bottom: 3em;
  border-bottom: 1px solid #e6e6e6;
  color: #000;
  font-size: 1.15em;

  .user-basic-info {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}